@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

$bg: hsl(212, 45%, 89%);

* {
  font-family: "Outfit", sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  background-color: $bg;
}

.attribution { 
  font-size: 11px; text-align: center;
  color: hsl(228, 45%, 44%); 
}